
:root{ 
/* -------- COLORS ---------
/*Primary Blues*/
--primeLight: #f5f5f5;
--primeMedium: #c2c2c2;
--primeDark: #000000;

/*Secondary */

--secondLight: #b085f5;
--secondMedium: #7e57c2;
--secondDark: #4d2c91;


/*Grays*/
--footerGray: #F5F5F5;


/* --------- Page Margins ----------- */
--leftSide: 20px;
}


h2 
{
	font-family: 'Roboto', sans-serif;
}

h6
{
	font-family: 'Cormorant Infant', serif;
	font-size: 14px;
}



.noSelect
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.alert
{
	margin: 20px;
}



#jpLogoWhite.png

#navbar
{
	position: absolute;
}

#icon
{
	position: fixed;
	margin-top: 20px;
	margin-left: var(--leftSide);
}


#title-block
{
	right: 0;
	text-align: right;
	margin-top: 20px;
	padding-right: 30px;
	padding-left: 30px;
	vertical-align: center;
	position: absolute;
	color: white;

}






#date {
	position: absolute;
	bottom: 10px;
	text-align: center;
	padding-left: var(--leftSide);
	margin: 0;
	color: white;
}





#sliders {
	position: absolute;
	margin-top: 20vh;
	margin-left: var(--leftSide);

}


#ex1Slider #ex2Slider #ex3Slider .slider-selection {
	background: #BABABA;

}

.sliderDesc{
	color: white;

}

.sliderGroup{
	padding-bottom: 60px;
}

.slider-selection {
	background: white;
	height: 1px;
}

.slider-handle {
	background: white;
}

.fadeJ {
	display: none;
}

.taTitle {
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">;
}
